<h2>Create New Available Slots</h2>

<%= render partial: "layouts/errors", locals: { object: @slot } %>
    
    <%= form_with model: @barber do |f| %>
        <ul>
        <%= f.fields_for :slots do |slots| %>   
            <li>
            <p><%= slots.label :start_time %></p>
            <%= slots.datetime_field :start_time %>
            
            <p><%= slots.label :duration %></p>
            <%= slots.number_field :duration %> 

            <%= slots.submit %>

            </li>
        <% end %> 
        </ul>
    <% end %>
