<h1>Log In!</h1>

<p><%= flash[:error] %></p>

<div class="center">
    <%= form_for(:user) do |f| %>
        <%= f.label :email %>
        <%= f.email_field :email %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.submit "Login" %>
    <% end %>
</div>