<h1>Add a Comment below: </h1>

<%= form_for(@comment) do |f| %>
    <%= f.hidden_field(:booking_id, :value => params[:booking_id]) %>

    <%= f.text_area :body %>
    <%= f.hidden_field :user_id %>
    
    <%= f.submit %>
<% end %>