<h1>Make a New Booking!</h1>

<%= form_for(@booking) do |f| %>
    <%= f.label :date %>
    <%= f.date_field :date %>

    <%= f.label :barber %>
    <%= f.collection_select :barber_id, Barber.all, :id, :name %>

    <%= f.hidden_field :user_id, value: session[:user_id] %>

    <%= f.submit %> 

<% end %>