<div class="scrollview">
    <h1>Your Booking</h1>
    
    <p>Reservation for: <%= @booking.user.name %></p>
    <p>With our Barber: <%= @booking.barber.name %></p>
    
    <p><%= @booking.date.strftime("On %m/%d/%Y") %></p>
    <p><%= @booking.date.strftime("at %I:%M%p") %></p>
    <p><%= @booking.created_at.strftime("Reservation confirmed on %m/%d/%Y") %></p>
    
    <div class="comment">
        <% @booking.comments.each do |c| %>
            <%= c.body %>
            <br>
            <%= c.user.name %>
            <br>
            <%= c.created_at.strftime("at %I:%M%p") %>
            <br>
            <%= c.created_at.strftime("On %m/%d/%Y") %></p>
        <% end %>
    </div>
        
    <p><%= link_to "Make a Comment", new_booking_comment_path(@booking) %></p>
        
</div>