<%= render partial: "layouts/errors", locals: { object: @barber } %>

<div class="center">

    <%= form_for @barber do |f| %>
        <p><%= f.label :name %></p>
        <%= f.text_field :name %>

        <p><%= f.label :email %>        </p>
        <%= f.email_field :email %>

        <p><%= f.label :image_url %></p>
        <%= f.text_field :image_url %>

        <p><%= f.label :password %></p>
        <%= f.password_field :password %>

        <p><%= f.submit %></p>

    <% end %>
</div>