<!DOCTYPE html>
<html>
  <head>
    <title>BarberWebApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="nav-bar">
    <div class="nav-button">
      <%= link_to "Login", login_path %>
    </div>
    <div class="nav-button">
      <%= link_to "Signup", signup_path %>
    </div>
    <div class="nav-button">
      <%= link_to "Sign in with Google", "/auth/google_oauth2" %>
    </div>
    <% if logged_in? %>
    <div class="nav-button">
      <%= link_to "Make a Booking", new_booking_path %>
    </div>
    <div class="nav-button">
      <%= link_to "View All Bookings", bookings_path %>
    </div>
    <div class="nav-button">
      <%= link_to "View All Barbers", barbers_path %>
    </div>
    <div class="nav-button">
      <%= link_to "View Next Week Bookings", bookings_next_week_path %>
    </div>
    <div class="nav-button">
      <%= link_to "Log Out", logout_path, method: :delete %>
    </div>
    <% end %>
  </div>

  <body>
    <%= yield %>
  </body>
</html>
